/* ------ kolory ---- */
/* --- fonty --*/
.home-header--title h1, .whatis-header h3, .whatis-items h3 {
  font-size: 70px;
  font-family: "ff-nuvo-web-pro"; }

.home-header--title p {
  font-family: "acuta";
  font-size: 40px; }

.whatis-items p {
  font-family: "acuta"; }

.home {
  height: 80vh; }
  .home .container {
    height: 100%; }
  .home-header {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .home-header--title {
      margin-left: 10%; }
    .home-header--flower {
      width: 20vw; }

.navbar {
  background: transparent; }
  .navbar-brand img {
    height: 100%; }

.whatis-header {
  margin: 10% 0; }
  .whatis-header h3 {
    font-size: 40px; }

.whatis-items p {
  font-size: 20px; }

.whatis-items h3 {
  font-size: 30px;
  margin: 20px 0; }

body {
  background-color: #f2ede4;
  color: #bf988f; }

a {
  color: inherit; }

a:hover {
  background-color: transparent !important;
  color: #bf988f; }
