@import "variables.scss";
@import "home.scss";
@import "navbar.scss";

body {
  background-color: $color-bg;
  color: $color-font;
}

a {
  color: inherit;
}
a:hover {
  background-color: transparent !important;
  color: $color-font;
}
