/* ------ kolory ---- */
$color-bg: #f2ede4;
$color-font: #bf988f;

/* --- fonty --*/

%h1 {
  font-size: 70px;
  font-family: "ff-nuvo-web-pro";
}

%pHeader {
  font-family: "acuta";
  font-size: 40px;
}

%p {
  font-family: "acuta";
}
